@font-face{
    font-family: "Montserrat";
    src:url('fonts/Monserrat/Montserrat-Italic-VariableFont_wght.ttf'),
    url('fonts/Monserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; 
}

#container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 40px;
    min-height: 600px;
    
}

#header{
    display: grid;
    grid-template-columns: 40% 1fr;    
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid rgba(225,225,226,0.8);
    background: white;
    position: fixed;
    top:0;
    background: #776274;
}

.logo{
   
    /*font-weight: 800;*/
    font-size: 35px;
    padding: 10px;
    margin-left: 70px;
    color: white;
    /*text-shadow: 1px 1px 0px #ccc;*/
}
.logo h1{
    font-family: "Montserrat";
    
    font-size: 25px;
}
.logo h2{
    font-family: "Montserrat";
    
    font-size: 15px;
}

#menu{
    width: 100%;
    height: 100%;
    justify-content:space-between;
}

#menu > ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin-right: 50px;
    text-align: center;
    height: 100%;
    list-style: none;
    width: 100%;
}

#menu li:hover{
    display: grid;
    border: 1px solid #5A5353;
    background: #5A5353;
    height: 100%;
    align-items: center;
    text-align: center;
}

#menu a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    transition: all 300ms;
    justify-content:space-around;
}

#menu a:hover{
    color: white;
    }

#sobremi{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content:center;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 200px;
    margin-bottom: 110px; 
}

#sobremi img{
    max-width: 400px;
}

#sobremi p{
    margin-right: 25px;
}

.titulo{
    font-family: "Montserrat";
    font-size: 30px;
    color: #5A5353;
}

#contenido-terapias{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background: #E6CCBE;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

#terapias{
   margin-top: 40px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, 350px);
   grid-gap: 20px;
   align-items:center;
}

.terapia{
    margin-bottom: 40px;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.terapia img{
    width: 100%;
}

.terapia-info{
    
    padding: 10px;
    background: #776274;
}

.terapia-info a{
    display: block;
    font-size: 20px;
    color: white;
    transition: all 300ms;   
}

.terapia-info:hover{
    background: white;
    
}

.terapia-info a:hover{
    color: #776274;
    
}



#contacto{
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-column-gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background: #776274;
    padding-top: 20px;
    padding-bottom: 20px;
}


#datos{
    min-height: 450px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    align-content: center;
 }

 #email-tel{
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-content: center;
    
 }

#email-tel img{
    max-width: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    
}

#email-tel p{
    font-size: 25px;
    text-align: left;
    margin-top: 4%;
    color: white;   
}

#email-tel a{
    text-decoration: none;
    color:white;
}

.email-tel-textos{
    font-weight: bold;
}

